<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2/dist/supabase.min.js"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>ParQly ANPR Smart Display</title>
</head>
<body>
    
<div class="totem-structure">
    <div class="smart-totem" id="totem-frame">
        <div class="digital-screen">
            <div id="home-layer">
                <div class="screen-glow"></div>
                <div class="top-info">
                    <span class="brand-badge">PARQLY SYS</span>
                    <div class="glass-pill">
                        <span class="pulse-dot"></span>
                        <span class="status-text">ACTIVE</span>
                    </div>
                </div>
                <div class="center-display">
                    <div class="sub-clock-text">Welcome! Please Enter</div>
                    <span class="date-display" id="live-date">---</span>
                    <div class="clock" id="live-clock">---</div>
                </div>
                
                <div class="bottom-status">
                    <div class="instruction-text">Please approach slowly</div>
                </div>
            </div>
            
            <div class="screen-glow"></div>
            <div class="header">
                <div class="camera-icon">
                    <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg>
                </div>
            </div>
            <div class="plate-container">
                <span class="text">LICENSE PLATE</span>
                <img src="../static/images/bg_plate.png" alt="License Plate" id="licencePlate" style="width:380px;">
                <div id="plate"></div>
            </div>
            
            <div class="footer-status">
                    <span id="message-text"></span>
                    <div id="status-box">
                        <div id="status-text">WAITING...</div>
                    </div>
                </div>
            </div>
         <img src="../static/images/logo_display.png" alt="ParQly Logo" class="home-logo">
    </div>
    <div class="totem-stand"></div>
</div>
<script src="../static/scirpts/liveData.js"></script>

</body>
</html>